<app-header (toogle)="toogle()"></app-header>

<mat-sidenav-container class="body">

  <!-- menu  -->
    <mat-sidenav #sidenav mode="side" [(opened)]="opened" class="sidenav">
      <div class="inner-container">
  
        <app-nav-item></app-nav-item>

        <app-nav-item
        [parentItem] ="frameworks.parent"
        [childItems] ="frameworks.childs"></app-nav-item>
        
      </div>
    </mat-sidenav>


  <!-- content -->
    <mat-sidenav-content class="my-content">
  
      <app-payment-statistic></app-payment-statistic>
      <!-- <router-outlet></router-outlet> -->
      

    </mat-sidenav-content>


</mat-sidenav-container>
<app-footer></app-footer>

