<div class="modal-header">
    <h4 class="modal-title" id="modal-title">Hướng dẫn sử dụng</h4>
    <button type="button" class="close" aria-label="Close button" aria-describedby="modal-title" (click)="close()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p><strong>Page này cho phép bạn import dữ liệu trong <span class="text-primary">file excel </span>vào bảng</strong></p>
    <p>Lưu ý, file excel phải có dạng như form bên dưới (click <span class="text-primary">download example</span> form để tải về form)!
    </p>
    <p>Sau khi điền dữ liệu vào form, tải lại file lên bằng cách click "Choose file"!
    </p>
  </div>
  <div class="modal-footer">
    <button type="button" ngbAutofocus class="btn btn-danger" (click)="close()">Ok, tôi đã hiểu</button>
  </div>