<div style="margin-top: 20px;margin-left: 20px">
  <a href="#nothing" style="font-size: 16pt;" (click)="showInstructionModal()">Need an instruction?</a>
</div>

<div style="margin-left: 20px">
  <label style="font-weight: bold; font-size: 14pt;">Download this form: </label>
  <a target="_self" href="../../../assets/monthly_paid.xlsx" download="monthly_paid.xlsx"> Example form</a>

</div>
<div style="margin-left: 20px">
  <label style="font-weight: bold; font-size: 14pt;">Import *xlsx file:</label>
  <input style="margin-left: 10px;" type="file" (change)="onFileChange($event)" />
</div>

<p class="table-title">Payment list</p>
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Group</th>
    <th scope="col">Detail</th>
    <th scope="col">Price</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let e of entities; index as i">
    <th scope="row">{{ i + 1 }}</th>
    <td>{{ e["Nhóm tiêu dùng"] }}</td>
    <td>{{ e["Tiêu dùng cụ thể"] }}</td>
    <td>{{ e["Chi phí"] }}</td>
  </tr>
  </tbody>
</table>